services:
  web:
    build: 
      context: ${CONTEXTO}
      dockerfile: ./dockerfiles/base/ubbase
      #args: #variables en DFILE para la construccion (build) de la imagen
      #  - USUARIO=alfonso
    container_name: ${CONTENEDOR}
    # environment:
    #   - USUARIO=alfonso
    #   - PASSWORD=Usuario
    env_file:
      - ./.env
    volumes:
      - ./logs:/root/logs