services:
  web:
    # Comentamos la construcción local para no depender de los archivos del disco
    # build: 
    #   context: ${CONTEXTO}
    #   #args: #variables en dockerfile para la construcción de la imagen
    #   #  - USUARIO=pedro
    #   dockerfile: ./dockerfiles/base/ubbase

    # Indicamos que descargue y use la imagen base desde Docker Hub
    image: uzbuzbiz/ubbase

    container_name: ${CONTENEDOR}
    ports:
      - "${SSH_PORT}:${SSH_PORT}"
    env_file:
      - ./.env
    volumes:
      - ./logs:/root/logs
    networks:
      netkarrats:
          ipv4_address: ${IP}

networks:
  netkarrats:
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}