services:
  web:
    image: uzbuzbiz/ubreact:${NOMBRE_PROYECTO}

    # 2. Configuración de Construcción
    build:
      context: ${CONTEXTO}  # La raíz de KARRATS
      dockerfile: ./dockerfiles/react/ubreact
      
      # Pasamos la variable del .env (derecha) al ARG del Dockerfile (izquierda)
      args:
        - NOMBRE_PROYECTO=${NOMBRE_PROYECTO}

    container_name: ${CONTENEDOR}
    ports:
      - "${SSH_PORT}:${SSH_PORT}"
      - "8081:80"
    env_file:
      - ./.env
    volumes:
      - ./logs:/root/logs
    networks:
      netkarrats:
          ipv4_address: ${IP}

networks:
  netkarrats:
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}